{% extends 'layoutAdmin.html.twig' %}

{% block content %}

<div class="card mb-3">
    <div class="card-header">
        Liste des utilisateurs</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Statut</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Statut</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </tfoot>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.status }}</td>
                    <td><a class="btn" href="/Admin/modifyUser/{{ user.id }}" name="update" type="submit">✏️</a> </td>
                    <td><a class="btn" href="/Admin/deleteUser/{{ user.id }}" type="submit">❌</a></td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
        </div>
    </div>

    {% endblock %}