{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}
{% block content %}


    <div class="container main-page">

        <div class="row profil-top">
            <div class="profil-item">
                <div class="rate">
                    <img src="/assets/images/users/{{ user.idPicture }}.jpg" alt="{{ user.firstname }}">
                    <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                    <small class="text-muted rate">
                        {% include 'Inc/rate.html.twig' %}
                    </small>
                </div>
                <h4>Ma ville : {{ city.real_name }}</h4>
                {% if user.visibility == 1 %}
                    <h4>Mon téléphone : {{ user.phone }}</h4>
                {% endif %}


                <button type="button" class="btn btn-light"><a href="/comment/index/{{ user.id }}" >Laissez-moi un commentaire.</a></button>
                <button type="button" class="btn btn-light"><a href="mailto:{{ user.email }}" >Me contacter.</a></button>


            </div>


            <div class="profil-item profil-service">
                <h2>Services proposés</h2>
                <ul>
                    {% for service in services %}
                        <li>{{ service.label }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="profil-description">
            <h2>Description</h2>
            <p>{{ user.description }}</p>
        </div>

        <h3>Avis : </h3>
        <div class="row">
            {% for comment in comments %}
            <div class="col-md-8 mr-auto profil-item profil-comment ">
                <div class="media-body">
                    <h5 class="media-heading">{{ comment.firstname ~ ' ' ~ comment.lastname }}</h5>
                    <div class="pull-right">
                        <h6 class="text-muted">Note : {{ comment.rate }} étoiles</h6>
                    </div>
                    <p>{{ comment.content }}</p>
                    <div class="media-footer">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
